<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<ul style="font-size: x-large;">
  <li><%= link_to 'Exception', '/exception' %></li>
  <li><%= link_to 'Frame missing', '/missing' %></li>
</ul>
